<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Testador_de_tabela.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Testador_de_tabela.My.MySettings>
            <setting name="UltimaTabela" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Tolerancia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Minutos30" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="UmaHora" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="Fracao" serializeAs="String">
                <value>2.5</value>
            </setting>
        </Testador_de_tabela.My.MySettings>
    </userSettings>
</configuration>
